 {% extends "base.html" %} {%block head %}

<title>Profile</title>

{% endblock %} {%block body%}
<h2>Profile</h2>
<div class="container">

    <p>{{ user }}</p>
    <p>{{ user.email }}</p>
    <p>{{ user.first_name }}</p>
    <p>{{ user.last_name }}</p>
    <p>{{ user.userprofile.description }}</p>
    <p>{{ user.userprofile.country }}</p>
    <p>{{ user.userprofile.state }}</p>
    <p>{{ user.userprofile.city }}</p>
    <p>{{ user.userprofile.website }}</p> 
    {% if user.userprofile.image %}
        <img src="{{ user.userprofile.image.url }}" width="248">  
    {% endif %}
</div>
{% endblock %}