{% extends "base.html" %} 

{%block head %}

<title>Supertree</title>

<meta charset="utf-8">
<style>
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin: 0;
    }

    #show-length {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .links {
        fill: none;
        stroke: #000;
    }

    .link-extensions {
        fill: none;
        stroke: #000;
        stroke-opacity: .25;
    }

    .labels {
        font: 10px sans-serif;
    }

    .link--active {
        stroke: #000 !important;
        stroke-width: 1.5px;
    }

    .link-extension--active {
        stroke-opacity: .6;
    }

    .label--active {
        font-weight: bold;
    }
</style>
{% endblock %}

{%block body%}

<div class="container">
    <div id="diagram" class="col-md-11">
        <label id="show-length">
            <input type="checkbox"> Show branch length
        </label>
    </div>
</div>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="/static/home/Utils.js"></script>
<script src="/static/home/Supertree.js"></script>
<script src="/static/home/Stream.js"></script>
<script src="/static/home/SupertreeView.js"></script>
<script src="/static/home/StreamView.js"></script>
<script src="/static/home/main.js"></script>

{% endblock %}