{% extends "base.html" %} 

{%block head %}

<title>Supertree</title>

<meta charset="utf-8">
<style>
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin: 0;
    }

    #show-length {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .links {
        fill: none;
        stroke: #000;
    }

    .link-extensions {
        fill: none;
        stroke: #000;
        stroke-opacity: .25;
    }

    .labels {
        font: 10px sans-serif;
    }

    .link--active {
        stroke: #000 !important;
        stroke-width: 1.5px;
    }

    .link-extension--active {
        stroke-opacity: .6;
    }

    .label--active {
        font-weight: bold;
    }
</style>
{% endblock %}

{%block body%}

<div class="container">

</div>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div id="diagrams" class="col-md-11">      
                <label id="show-length">
                    <input type="checkbox"> Show branch length
                </label>
            </div>
        </div>
        <div class="row">
                <div id=container>
                        <center>
                          <svg id=plotSvg></svg>
                        </center>
                      </div>
        </div>
    </div>
  </div>

{% comment %} THIRD {% endcomment %}
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.3.2/pixi.min.js"></script>

{% comment %} LOCAL {% endcomment %}
<script src="/static/home/js/Utils.js"></script>
<script src="/static/home/js/Supertree.js"></script>
<script src="/static/home/js/Stream.js"></script>
<script src="/static/home/js/SupertreeView.js"></script>
<script src="/static/home/js/StreamView.js"></script>
<script src="/static/home/js/main.js"></script>

{% endblock %}