
{% extends "base.html" %}

{%block body%}
    <div class="container">
        <h1>Home</h1>
    </div>
    <form action="" method="post">
        {% csrf_token %}          
        {{ form.post}}
        <br>
        <button type="submit">Submit</button>
    </form>

    {% for post in posts %}
            <p>{{post.post}}</p>            
            <p>Posted by {{ post.user.get_full_name }} on {{ post.created }}</p>
    {% endfor %}

    <div class="col-md-4">
        <h2>Users</h2>
        {% for user in users %}
            <a href="{% url 'accounts:profile_with_pk' pk=user.pk %}">{{ user.username }}</a>
        {% endfor %}
    </div>


    {% comment %} {% include upload_trees.html %} {% endcomment %}

{% endblock %}  
