
{% extends "base.html" %}

{%block body%}

{% comment %} NEW PROJECT {% endcomment %}

    <div class="container">
        <h1>Upload trees</h1>
    </div>
        
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        {% comment %} <div>
        Supertree:<br>
            {{ form.supertree }}
        </div>                  

        <div>
        Smaller trees:
            {{ form.forest }}
        </div>
         {% endcomment %}
        <br>
        <button type="submit">Submit</button>
    </form>

{% endblock %}  
