



{% if trees %}
    <h1>Trees</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    
    <ul>
    {% for tree in trees %}
        <li><a href="{% url 'app:visualize' tree.id %}">{{ tree.newick }}</a></li>
    {% endfor %}
    </ul>

    <form action="{% url 'app:list'%}" method="post">
            {% csrf_token %}            
            <input type="text" name="tree_id" id="tree_id" value="Write an id." />

            <input type="submit" value="Vote" />
    </form>

{% elif tree %}
   
    <p> {{ tree.newick }} </p>

{% else %}
        <p>No trees are available.</p>
    
{% endif %}



